 .item{
 
 font-size: 24px;
 text-align: center;
 margin-top: 20px;
 display: grid;
 grid-template-columns: auto auto auto;

}

.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}

#home-c{
    display: flex;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}


